

  <div class="sidenav">
    <div class="profile">
      <div>
        <img src="{{userProfile.profileImageUrl}}" class="profile-image">
      </div>
      <div class="profile-name">
        {{userProfile.username}}
      </div>
    </div>
    
    
    <ul style="list-style: none;" class="nav" >
        <li class="nav-list">
          <button mat-button class="nav-item"  [routerLink]="['/']">Home <mat-icon inline="true" class="material-icons-outlined">home</mat-icon></button>
        </li>
        <li class="nav-list">
          <button mat-button class="nav-item"  [routerLink]="['inbox']" [state]="userProfile">Inbox <mat-icon inline="true">inbox</mat-icon></button>
        </li>
        <li class="nav-list">
          <button mat-button class="nav-item"   [routerLink]="['contact']">Contact <mat-icon inline="true" class="material-icons-outlined">contact_page</mat-icon></button>
        </li>
        <!-- <li class="nav-list">
          <button mat-button class="nav-item">Settings <mat-icon inline="true" class="material-icons-outlined">settings</mat-icon></button>
        </li> -->
        <li class="nav-list">
          <button mat-button class="nav-item" (click)="logout()">Log Out <mat-icon inline="true" class="material-icons-outlined">power</mat-icon></button>
        </li>
      </ul>
  </div>