

  <div class="sidenav">
    <div class="profile">
      <div>
        <img src="https://source.unsplash.com/random/200x200?sig=100'" class="profile-image">
      </div>
      <div class="profile-name">
        Idris Adigun
      </div>
    </div>
    
    
    <ul style="list-style: none;" class="nav" >
        <li class="nav-list">
          <button mat-button class="nav-item"  [routerLink]="['/']">Home <mat-icon inline="true">home</mat-icon></button>
        </li>
        <li class="nav-list">
          <button mat-button class="nav-item"  [routerLink]="['inbox']">Inbox <mat-icon inline="true">inbox</mat-icon></button>
        </li>
        <li class="nav-list">
          <button mat-button class="nav-item">Contact <mat-icon inline="true">contact_page</mat-icon></button>
        </li>
        <li class="nav-list">
          <button mat-button class="nav-item">Settings <mat-icon inline="true">settings</mat-icon></button>
        </li>
        <li class="nav-list">
          <button mat-button class="nav-item">Log Out <mat-icon inline="true">power</mat-icon></button>
        </li>
      </ul>
  </div>