<div class="contact">
    <div *ngFor="let contact of contactDetails">
        <div class="contact-list">
            <div class="profile">
                <img src="{{contact.profileImageUrl}}" class="profile-image">
            </div>
            <div class="summary">
                <div class="name">
                    {{contact.username}}
                </div>
                <div class="view-contact ">
                    <mat-icon (click)="messageContact(contact)">chat_bubble_outline</mat-icon>
                    <mat-icon (click)="viewContact(contact)">launch</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>