// .container {
//   display: grid;
//   margin: 5px 5px;
//   grid-template-columns: repeat(5, 1fr);
//   grid-template-areas:
//     "toolbar toolbar toolbar toolbar toolbar"
//     "sidebar content content content content";
// }

// .toolbar {
//   grid-area: toolbar;
//   background-color: #e8e9eb;
// }
// .sidebar {
//   grid-area: sidebar;
//   height: 100vh;
//   background-color: #e8e9eb;
//   text-align: center;
// }
// .content {
//   grid-area: content;
//   height: 100vh;
//   background-color: #e8e9eb;
//   text-align: center;
// }
.container {
  width: 100%;
  height: 90vh;
  // border: 1px solid rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  background-color: #e8e9eb;
  border-radius: 5px;
  margin: 10px 5px 0px 5px;
  border: none;
}
.mat-toolbar {
  border-radius: 5px;
  background-color: #e8e9eb;
  // padding: 0px 5px 0px 5px;
}
