@import "../../../theme.scss";
.container {
  width: 100%;
  height: 100%;
  .content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .sidenav {
    padding: 20px;
    background-color: $card-color;
    border-radius: 5px;
    margin: 10px 5px 0px 5px;
    border: none;
  }
  .mat-toolbar {
    border-radius: 5px;
    background-color: $card-color;
    color: $primary;
  }
}
