<div class="container">
    <div class="conversations">
        <div *ngFor="let conversation of conversationWithContDetails">
            <div class="conversation-list" [routerLink]="['messages']" [queryParams]="{ id: conversation.uid }">
                <div *ngFor="let member of conversation.member">
                    <div class="profile">
                        <img src="{{member.profileImageUrl}}" class="profile-image">
                    </div>
                </div>
                <div class="summary">
                    <div class="member-details">
                        <div *ngFor="let member of conversation.member">
                            <div class="name">
                                {{member.username}}
                            </div>
                        </div>
                        <div class="last_message">
                            {{conversation.lastMessage}}
                        </div>
                    </div>
                    <div class="conversation-date">
                        {{conversation.lastUpdated.toDate() | date:'shortDate' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>