<!-- <p>sender: {{sendId}}</p>
<p>recipient: {{recipientId}}</p> -->

<div class="container">
    <div>
        <form class="message-form" #messageForm="ngForm">
          <div class="form-group">
            <mat-form-field class="field message-field">
              <mat-label>Message</mat-label>
              <textarea  matInput type="text" [ngClass] = "{'is-invalid': message.errors?.required && message.touched}"
              [(ngModel)] = "content.message" name="message" #message = "ngModel"  autofocus="" placeholder="..."  inputmode="text"  required  ></textarea>
            </mat-form-field>
          </div>
        </form>
        <div>
            <button [disabled]="submitBtnStatus" mat-raised-button class="search-btn" (click)="sendMessage(messageForm)"><mat-icon>send</mat-icon></button>
        </div>
    </div>
  </div>