  <div class="container">
    <div>
        <form class="search-form" #searchContactForm="ngForm">
          <div class="form-group">
            <mat-form-field class="field username-field">
              <input matInput type="text" [ngClass] = "{'is-invalid': username.errors?.required && username.touched}"
              [(ngModel)] = "user.username" name="username" #username = "ngModel" placeholder="username" autofocus=""  inputmode="text" minlength='2' required  >
            </mat-form-field>
            <div *ngIf="username.invalid &&  (username.dirty || username.touched)" class="alert-danger">
                <div *ngIf="username.errors.minlength">
                    Username must be at least 2 characters long
                </div>
            </div>
          </div>
        </form>
        <div>
            <button [disabled]="submitBtnStatus" mat-raised-button class="search-btn" (click)="searchDirectory(searchContactForm)">Search Directory</button>
        </div>
    </div>
    <div *ngIf="users">
      <div class="contact-list"  *ngFor="let user of users;  index as i">
            <div class="profile">
                <img src="{{user.profileImageUrl}}" class="profile-image">
            </div>
            <div class="summary">
                <div class="name">
                    {{user.username}}
                </div>
                <div class="view-contact ">
                  <mat-icon >launch</mat-icon>
                  <mat-icon *ngIf="!user.isAdded" (click)="addToContact(user)">add</mat-icon>
                </div>
            </div>
       </div>
    </div>
  </div>