@import "../../../../../theme.scss";
.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0px 10px;
  margin: 10px auto;
  height: 100% !important;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100% important;

    .conversations-section {
      height: 100% important;

      .header {
        position: sticky;
      }

      .conversations {
        padding: 0px 20px;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: scroll;
        height: 500px;

        .message {
          background-color: $card-color;
          padding: 15px;
          width: fit-content;
          margin: 10px 0px;
          max-width: 50%;

          .message-content {
            color: $primary;
          }
        }
        .left {
          border-radius: 10px 10px 10px 0px;
          box-shadow: 2px 2px 6px 0px #cecece62;
        }
        .right {
          float: right;
          border-radius: 10px 10px 0px 10px;
          box-shadow: 2px 2px 6px 0px #cecece62;
        }
      }
    }
    .message-form {
      margin-top: 15px;
      margin-bottom: 10px;
      padding: 20px 20px;
      border-radius: 5px;
      height: 20%;
      background-color: $card-color;
      position: sticky;
      position: -webkit-sticky;
      bottom: 5px;

      .field {
        width: 100%;
        height: 100%;
      }
    }
  }
}
