<div class="container">
    <div class="content">
        <div class="conversations-section">
            <div class="header">
                <button mat-button  [routerLink]="['/home/inbox/']"><mat-icon>arrow_back</mat-icon> Back</button>
                <div>
                    <img src="">
                </div>
            </div>
            <div style="text-align: center">
                <button mat-button class="load-more-btn" (click)="loadMoreMessages()">Load more</button>
            </div>
            <div class="conversations" #conversationDiv>
                <div *ngFor="let message of messages" class="px-4">
                        <div class="message" [ngClass]="{'right' : message.sender === uid, 'left' : message.sender !== uid}">
                            <div class="message-content">
                                {{message.message}} <br>
                                <span>{{message.date_sent.toDate() | date:'short' }}</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="message-form"> 
            <form class="search-form" #messageForm="ngForm"> 
                <mat-form-field class="field message-field">
                    <mat-label>Message</mat-label>
                    <textarea  matInput type="text" [(ngModel)] = "message" name="message"   autofocus="" placeholder="..."  inputmode="text"  required  ></textarea>
                </mat-form-field>
                <div>
                    <button mat-button class="search-btn" type="submit" (click)="sendMessage(messageForm)"><mat-icon>send</mat-icon></button>
                </div>
            </form>
        </div>
    </div>
</div>