<div class="container">
    <div class="content">
        <div class="conversations-section">
            <div class="header">
                <button mat-button  [routerLink]="['/home/inbox/']"><mat-icon>arrow_back</mat-icon> Back</button>
            </div>
            <div class="conversations">
                <div *ngFor="let message of messages" class="px-4">
                        <div class="message" [ngClass]="{'right' : message.sender === uid, 'left' : message.sender !== uid}">
                            <div class="message-content">
                                {{message.message}}
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="message-form">  
            dfg
        </div>
    </div>
</div>