@import "../../../../theme.scss";
.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0px 10px;
  margin: 10px auto;

  div.mat-tab-label-content {
    font-weight: 800 !important;
    font-size: 21px;
  }
  .btn {
    font-weight: 600;
    font-size: 21px;
    text-align: left;
  }
  .add-section {
    margin-bottom: 10px;
  }
}
