<div class="container">
    <mat-tab-group  animationDuration="200ms">
        <mat-tab label="My Contact">
            <div class="contact">
                <div *ngFor="let contact of contacts">
                    <div class="contact-list">
                        <div class="profile">
                            <img src="{{contact.profile_url}}" class="profile-image">
                        </div>
                        <div class="summary">
                            <div class="name">
                                {{contact.username}}
                            </div>
                            <div class="view-contact ">
                                <mat-icon>chat_bubble_outline</mat-icon>
                                <mat-icon (click)="openDialog(contact)">launch</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Pending Requests">
            <app-pending-contact></app-pending-contact>
        </mat-tab>
        <mat-tab label="Add Contact">
            <app-add-contact></app-add-contact>
        </mat-tab>
      </mat-tab-group>
</div>